@charset "UTF-8";

@import "./header.css";
@import "./footer.css";
@import "./box.css";
@import "./common.css";
@import "./modal.css";

#main {
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main > .wrapper > #one {
    background-color: #f0f8ff;
    padding: 0.025rem;
    position: relative;
}

#main > .wrapper > #one > .container {
    width: 100%;
}

#main > .wrapper > #one > .container > .head {
    font-size: 2.5rem;
    border-bottom: 0.0625rem solid #293947;
    padding-top: 2.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main > .wrapper > #one > .container > .introduction {

    font-size: 2rem;
    font-weight: 400;
    position: relative;
    width: 100%;
    height: 20rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#main > .wrapper > #one > .container > .introduction > .box > .name {
    width: 30rem;
    z-index: 1;

    padding-top: 1rem;
}

#main > .wrapper > #one > .container > .introduction > .box > .profile {
    color: transparent;
    border-radius: 999rem;
    width: 10rem;
    z-index: 1;
}

#main > .wrapper > #one > .container > .intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main > .wrapper > #one > .container > .intro > .caption {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    width: 50%;

    background-color: #b6c9b8;
    border-radius: 4rem;
    box-shadow: 0.5rem 0.25rem 0.5rem #1f1d1def;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

#main > .wrapper > #one > .container > .intro > .caption:hover {
    box-shadow: 0.75rem 0.5rem 0.75rem #1f1d1def;
}


#main > .wrapper > #one > .container > .intro > .contents {
    font-size: 1.2rem;
    display: block;
    background-color: #f0f8ff;
    border-radius: 4rem;
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 1rem;

    opacity: 1;
    pointer-events: none;
    position: relative;
    transition-duration: 250ms;
    transition-property: left, opacity;
    transition-timing-function: ease;
    width: 80%;
}


#main > .wrapper > #two {

    background-color: #f0f8ff;

    padding: 0.025rem;
    position: relative;

}

#main > .wrapper > #two > .container > .head {
    font-size: 2.5rem;
    border-bottom: 0.0625rem solid #293947;
    border-top: 0.0625rem solid #293947;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#main > .wrapper > #two > .container > p {
    text-align: center;
}

#main > .wrapper > #two > .container > .contents {
    padding: 1rem;
}

#main > .wrapper > #two > .container > .contents > .list {
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main > .wrapper > #two > .container > .contents > .list > .item {
    width: 3rem;
    display: inline-block;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.25rem 0.5rem #1f1d1def;
    padding: 1rem;
    text-align: center;
    color: #1f1d1d;
    background-color: #b6c9b8;
    margin: 1rem;
}

#main > .wrapper > #two > .container > .contents > .list > .item:hover {
    box-shadow: 0.75rem 0.5rem 0.75rem #1f1d1def;
}

#main > .wrapper > #two > .container > .contents > .list > .item > img {
    width: 3rem;
    height: 3rem;

    filter: brightness(0.8);
    transform: scale(1);
    transform-origin: center;
    transition-duration: 500ms;
    transition-property: filter, transform;
    transition-timing-function: ease;
}

#main > .wrapper > #two > .container > .contents > .list > .item:hover > img {
    filter: brightness(1);
    transform: scale(1.05);
}

#main > .wrapper > #two > .container > .contents > strong {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-content: center;
    justify-content: center;

    position: relative;
    text-align: center;
}

#main > .wrapper > #three {
    background-color: #f0f8ff;

    position: relative;
    padding-bottom: 15rem;
}

#main > .wrapper > #three > .container > .head {
    font-size: 2.5rem;
    border-bottom: 0.0625rem solid #293947;
    border-top: 0.0625rem solid #293947;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main > .wrapper > #three > .container > .contents {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

#main > .wrapper > #three > .container > .contents > .feature {
    width: 100%;
    background-color: #b6c9b8;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.25rem 0.5rem #1f1d1d;
    position: relative;
    padding: 1rem;
    margin-top: 2rem;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}


#main > .wrapper > #three > .container > .contents > .feature:hover {
    box-shadow: 0.75rem 0.5rem 0.75rem #1f1d1de3;

}

#main > .wrapper > #three > .container > .contents > .feature > .card {
    width: 30%;

    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#main > .wrapper > #three > .container > .contents > .feature > .card > .content {
    height: 10rem;
    border-radius: 1rem;
}

#main > .wrapper > #three > .container > .contents > .feature > .card > .content > a {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

#main > .wrapper > #three > .container > .contents > .feature > .card > .content > a:hover {
    scale: 105%;
}

#main > .wrapper > #three > .container > .contents > .feature > .card > .content > a > img {
    width: 50%;
    height: 8rem;

    display: inline-block;
    position: relative;
    border-radius: 0.5rem;
}


#main > .wrapper > #three > .container > .contents > .feature > .card > .caption {
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    position: relative;
    text-align: center;
}

#main > .wrapper > #three > .container > .contents > .feature > .card > .content > .port {
    font-size: 1.5rem;
    margin-top: 1rem;
    position: absolute;
    padding-left: 3rem;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-start;

}



#main > .wrapper > #three > .container > .contents > .feature > .card > .content > a > .skills > .skill {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;

    margin-top: 0.25rem;
    padding: 0.5rem;
    font-size: 0.875rem;

    border-radius: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main > .wrapper > #four {
    background-color: #f0f8ff;

    position: relative;
    padding-bottom: 15rem;
}

#main > .wrapper > #four > .container > .head {
    font-size: 2.5rem;
    border-bottom: 0.0625rem solid #293947;
    border-top: 0.0625rem solid #293947;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main > .wrapper > #four > .container > .contents {
    padding: 2rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

#main > .wrapper > #four > .container > .contents > .feature {
    background-color: #b6c9b8;
    width: 42%;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.25rem 0.5rem #1f1d1d;
    position: relative;

    opacity: 0;
    pointer-events: none;
    transition-duration: 250ms;
    transition-property: left, opacity;
    transition-timing-function: ease;

}

#main > .wrapper > #four > .container > .contents > .feature.visible {
    opacity: 1;
    pointer-events: auto;
}

#main > .wrapper > #four > .container > .contents > .feature:hover {
    box-shadow: 0.75rem 0.5rem 0.75rem #1f1d1de3;
}

#main > .wrapper > #four > .container > .contents > .feature > .feature-label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    cursor: pointer;
}

#main > .wrapper > #four > .container > .contents > .stretch {
    flex-grow: 1;
    width: 10%;
}

#main > .wrapper > #four > .container > .contents > .feature > .feature-label > .link > img {
    width: 50%;
    display: inline-block;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


#main > .wrapper > #four > .container > .contents > .feature > .feature-label > .caption {
    top: 0;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    padding: 1.5rem;
}

#main > .wrapper > #four > .container > .contents > .feature > .feature-label > .caption img {
    text-align: center;
    width: 4.5%;
}

#main > .wrapper > #four > .container > .contents > .feature > .feature-label > .career {
    font-size: 1.5rem;
    position: absolute;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-start;
    margin-top: 1.25rem;
    padding-left: 2rem;

}

#main > .wrapper > #four > .container > .contents > .feature > .feature-label > .link {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    transition: max-height 0.3s ease;
    width: 100%;
}

#main > .wrapper > #four > .container > .contents > .feature > .toggle:not(:checked) ~ .feature-label > .link {
    display: none;
}

#main > .wrapper > #four > .container > .contents > .feature > .toggle:not(:checked) ~ .feature-label > .career {
    display: none;
}

#main > .wrapper > #four > .container > .contents > .feature > .toggle:checked ~ .feature-label > .career {
    top: 75%;
}

#main > .wrapper > #four > .container > .contents > .feature > .toggle:checked + .feature-label > .caption img[alt="toggle"] {
    transform: rotate(180deg);
    /* 선택 시 회전 효과 */
}

#main > .wrapper > #four > .container > .contents > .feature > .toggle:checked ~ .feature-label {
    padding-bottom: 6rem;
    transition-duration: 250ms;
    transition-property: left, opacity;
    transition-timing-function: ease;
}

#main > .wrapper > #four > .container > .contents > .feature > .feature-label > .link > .skills > .skill {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;

    margin-top: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;

    border-radius: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 100rem) {

    #main > .wrapper > #two > .container > .contents > .list > .item {
        scale: 90%;
    }
}

/* 화면의 가로 크기가 80rem 이하일때만 적용할 선택자 */
@media screen and (max-width: 80rem) {

    #main > .wrapper > #two > .container > .contents > .list > .item {
        scale: 80%;
    }
}

/* 화면의 가로 크기가 60rem 이하일때만 적용할 선택자 */
@media screen and (max-width: 60rem) {

    #main > .wrapper > #two > .container > .contents > .list > .item {
        width: 20%;
        scale: 70%;
    }

    #main > .wrapper > #two > .container > .contents > .list > .item > .img {
        scale: 60%;
    }
}

/* 화면의 가로 크기가 40rem 이하일때만 적용할 선택자 */
@media screen and (max-width: 40rem) {

    #main > .wrapper > #two > .container > .contents > .list > .item {
        width: 20%;
        scale: 60%;
    }

    #main > .wrapper > #two > .container > .contents > .list > .item > .img {
        scale: 40%;
    }
}

@media screen and (max-width: 80rem) {
    #main > .wrapper > #three > .container > .contents > .feature > .caption {
        top: -0.5rem;
        left: 0.5rem;
        font-size: 2rem;
        font-weight: 400;
    }

    #main > .wrapper > #three > .container > .contents > .feature > .port {
        top: 80%;
        font-size: 1.25rem;
        font-weight: 300;
    }

    #main > .wrapper > #three > .container > .contents > .feature > a > .skills > .skill {
        scale: 75%;
    }
}

@media screen and (max-width: 40rem) {
    #main > .wrapper > #three > .container > .contents > .feature > .caption {
        top: 0;
        padding-left: 1rem;
        left: -1rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    #main > .wrapper > #three > .container > .contents > .feature > .port {
        top: 60%;
        width: 90%;
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: 300;
    }

    #main > .wrapper > #three > .container > .contents > .feature > a > .skills > .skill {
        scale: 50%;
    }
}

@media screen and (max-width: 80rem) {
    #main > .wrapper > #four > .container > .contents > .feature > .caption {
        top: -0.5rem;
        left: 0.5rem;

        font-size: 2rem;
        font-weight: 400;
    }

    #main > .wrapper > #four > .container > .contents > .feature > .career {
        top: 40%;
        font-size: 1.25rem;
        font-weight: 300;
    }

    #main > .wrapper > #four > .container > .contents > .feature > a > .skills > .skill {
        scale: 75%;
    }
}

@media screen and (max-width: 40rem) {
    #main > .wrapper > #four > .container > .contents > .feature {
        scale: 1.2;
        width: 100%;
    }

    #main > .wrapper > #four > .container > .contents > .feature > .caption {
        top: 0;
        padding-left: 1rem;
        left: -1rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    #main > .wrapper > #four > .container > .contents > .feature > .career {
        top: 70%;
        width: 50%;
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: 300;
    }

    #main > .wrapper > #four > .container > .contents > .feature > a > .skills > .skill {
        scale: 50%;
    }
}